@charset "utf-8";
/* CSS Document */
*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body{
	
 background: #1F1F1F;
}
.div-1{
	cursor: pointer;
	width: 150px;
	height: 50px;
	float: right;
	border-radius: 10px;
	border: 2px solid #FFFFFF; 
	opacity: 0.2;
	
}
.div-1 a:link{color: #FFFFFF;}
.div-1 a:visited{color: #FFFFFF;}
.div-1:hover{
	box-shadow: 0 0 50px #FFFFFF;
	opacity: 1;
}
.div-2{
	cursor: pointer;
	width: 150px;
	height: 50px;
	float:left;
	border-radius: 10px;
	border: 2px solid #FFFFFF; 
	opacity: 0.2;
	
}
.div-2 a:link{color: #FFFFFF;}
.div-2 a:visited{color: #FFFFFF;}
.div-2:hover{
	box-shadow: 0 0 50px #FFFFFF;
	opacity: 1;
}
.div-3{
	cursor: pointer;
	width: 150px;
	height: 50px;
	margin: 0px auto;
	border-radius: 10px;
	border: 2px solid #FFFFFF; 
	opacity: 0.2;
	
}
.div-3 a:link{color: #FFFFFF;}
.div-3 a:visited{color: #FFFFFF;}
.div-3:hover{
	box-shadow: 0 0 50px #FFFFFF;
	opacity: 1;
}
.div-4{
	transition: 0.5s;
	position:absolute;
	top:215px;
	left: 372px;
	border-radius: 20px;
}
.div-4:hover{
	transform: scale(1.25);
	box-shadow: 0 25px 40px rgba(0,0,0,.5);
	
}
