@charset "utf-8";
/* CSS Document */
*{
	margin: 0px;
	padding: 0px;
}
body{
	background: #000000;
}
.div-1{
	cursor: pointer;
	width: 150px;
	height: 50px;
	float: right;
	border-radius: 10px;
	border: 2px solid #FFFFFF; 
	opacity: 0.2;
	
}
.div-1 a:link{color: #FFFFFF;}
.div-1 a:visited{color: #FFFFFF;}
.div-1:hover{
	box-shadow: 0 0 50px #FFFFFF;
	opacity: 1;
}